---
bug: 12345
sha256: abcd12345
filesize: 12345
private-artifact: false
signing-formats: ["autograph_gpg"]
requestor: Dr. Pepper
reason: sign my evil file!!!
artifact-name: bar.exe
fetch:
    type: static-url
    url: https://evil.com/foo/bar.exe
