---
url: https://evil.com/foo/bar.exe
artifact-name: bar.exe
bug: 12345
private-artifact: false
signing-formats: ["autograph_gpg"]
sha256: abcd12345
filesize: 12345
requestor: Dr. Pepper
reason: sign my evil file!!!
