---
bug: 12345
sha256: 2029107d065e35b5e0947ac15a116ac8f6c1bc03f8b008c9c49fc0f51999be70
filesize: 1222505
private-artifact: false
signing-formats: ["macapp"]
requestor: Ben Hearsum <bhearsum@mozilla.com>
reason: test mac signing
artifact-name: wireguard.tar.gz
mac-behavior: mac_notarize
product: mozillavpn
fetch:
  url: https://hearsum.ca/~bhearsum/wireguard.tar.gz
# Optional, only if mac-behavior is mac_single_file
# single-file-globs: ["filename1"]
