---
bug: 0000000
sha256: <sha256>
filesize: <size>
private-artifact: false
signing-formats: ["macapp"]
requestor: Andrew Halberstadt <ahal@mozilla.com>
reason: mozilla vpn <version> mac signing
product: mozillavpn
artifact-name: MozillaVPN.zip
mac-behavior: mac_notarize_vpn
fetch:
    type: static-url
    url: https://github.com/mozilla-releng/adhoc-signing-blobs/raw/vpn/mozillavpn-unsigned-mac-<date>.zip
